@model Models.Media
@{
    ViewBag.PageTitle = "Détails";
}

<div id="detailsPanel" class="detailsPanel">
</div>


@section Scripts {
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        let mediaDetails_ARP = null;
        let likes = null;
        $(() => {
            newSession(600); 
            mediaDetails_ARP = new AutoRefreshedPanel("detailsPanel", "/Medias/GetMediaDetails", 5, mediaDetailsPostRefresh);
            likes = new AutoRefreshedPanel("likesPanel", "/Medias/GetMediaLikes", 5, likesPostRefresh);
        })
        function likesPostRefresh() {
            $(".toggleLikeCmd").click(function (e) {
                likes.command("/Medias/ToggleMediaLike/" + $(this).attr("mediaId"));
                e.preventDefault();
            });
        }
        function mediaDetailsPostRefresh() {
            $(".mediaPlayerBig").on("mouseover", function () { mediaDetails_ARP.pause(); })
            $(".mediaPlayerBig").on("mouseleave", function () { mediaDetails_ARP.restart(); })
        }
    </script>
}