@{ ViewBag.PageTitle = "Wikimedia"; }

<!--
    The content of this view rely on the one produced
    by the /Contacts/GetContacts action that call
    Views/Contacts/GetContacts.cshtml partial view
-->

<div id="MediaListPanel" class="mediaListLayout">
    <!-- Periodicaly refreshed by object contactListPanel of class AutoRefreshedPanel -->
</div>

@section Scripts {
    <script>

        let mediasListAutoRefreshPanel = null;
        let categoriesSelectAutoRefreshPanel = null;
        let ownerSelectAutoRefreshPanel = null;

        $(() => {
            newSession(600);
            mediasListAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "MediaListPanel",
                    "/Medias/GetMedias",
                    5,
                    mediasListPostRefresh);

            categoriesSelectAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "categorySelectPanel",
                    "/Medias/GetMediasCategoriesList",
                    -1 /* manually refreshed */,
                    categoriesSelectPostRefresh);

            ownerSelectAutoRefreshPanel = new AutoRefreshedPanel("ownerSelectPanel", "/Medias/GetMediasOwnersList", -1 /* manually refreshed */, ownerSelectPostRefresh);

            let keywordsOnchangeTimer = null;

            $("#searchInput").on('keyup', function () {
                clearTimeout(keywordsOnchangeTimer);
                /* delay request by 0.5 seconds */
                keywordsOnchangeTimer = setTimeout(() => {
                    window.location = "/Medias/SetSearchString?value=" + $("#searchInput").val();
                }, 1000 /* 1 seconds */);
            });
            $("#searchInput").on('search', function () { /* click on clear */
                clearTimeout(keywordsOnchangeTimer);
                window.location = "/Medias/SetSearchString?value=" + $("#searchInput").val();
            });
            $("#searchInput").on("focus", function () {
                mediasListAutoRefreshPanel.pause();
            });
            $("#searchInput").on("blur", function () {
                mediasListAutoRefreshPanel.restart();
            });

            function mediasListPostRefresh(fromRefresh = true) {
                if (fromRefresh) {
                    categoriesSelectAutoRefreshPanel.refresh(true);
                    ownerSelectAutoRefreshPanel.refresh(true);
                    $(".toggleLikeCmd").off();
                    $(".toggleLikeCmd").click(function (e) {
                        mediasListAutoRefreshPanel.command("/Medias/ToggleMediaLike/" + $(this).attr("mediaId"));
                        e.preventDefault();
                    });
                }
                $("#moreMediasPanel").remove();
                $.ajax({
                    url: "/Medias/EndOfMedias",
                    contentType: 'application/json',
                    success: (endOfMedias) => {
                        if (!endOfMedias) {
                           
                            $("#MediaListPanel").parent().append($(`
                            <div id="moreMediasPanel" style="text-align:center; cursor:pointer">

                            <span id="moreMediasCMD" style="color:dodgerBlue"> afficher plus </span>
                            </div>
                        `));
                            $("#moreMediasCMD").on("click", function () {
                                $.ajax({
                                    url: "/Medias/getNextMediasPage",
                                    dataType: "html",
                                    success: (htmlContent) => {
                                        mediasListAutoRefreshPanel.appendContent(htmlContent);

                                    },
                                    statusCode: { 401: this.redirect }
                                })
                            });
                        }
                    }
                });
            }

            function categoriesSelectPostRefresh() {

                $("#categorySelect").off();
                $("#categorySelect").on("focus", function () {
                    mediasListAutoRefreshPanel.pause();
                });
                $("#categorySelect").on("blur", function () {
                    mediasListAutoRefreshPanel.restart();
                });
                $("#categorySelect").on('change', function () {
                    window.location = "/Medias/SetSearchCategory?value=" + $("#categorySelect").val();
                });
            }

            function ownerSelectPostRefresh() {

                $("#mediasOwnerSelect").off();
                $("#mediasOwnerSelect").on("focus", function () {
                    mediasListAutoRefreshPanel.pause();
                });
                $("#mediasOwnerSelect").on("blur", function () {
                    mediasListAutoRefreshPanel.restart();
                });
                $("#mediasOwnerSelect").on('change', function () {
                    window.location = "/Medias/SetSearchMediasOwner?value=" + $("#mediasOwnerSelect").val();
                });
            }
        })
    </script>
}